node_modules
.env
.env.local
dist
dist-ssr
*.local
.DS_Store
npm-debug.log*

# keep editor settings out of source control noise
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

Backend.zip
*.zip


"`n*.zip`n*.tar`n*.rar`n*.7z"